<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editorial</title>
</head>
<body>
    <header>
        <h2>Carga una nueva editorial aquí!!!</h2>
    </header>
    <form action="/editorial/registro" method="POST">
        <div>
            <input type="text" name="nombre" placeholder="nombre de la editorial" >
        </div>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>