<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro</title>
</head>
<body>
    <header>
        <h2>Carga el Libro aquí!!</h2>
    </header>
    <form action="/libro/registro" method="POST">
        <input type="number" name="isbn" placeholder="ISBN" >
        <input type="text" name="titulo" placeholder="Titulo">
        <input type="number" name="ejemplares" placeholder="ejemplares">
        <select name="idAutor" id="">
            <option>Seleccione un autor</option>
            <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"/>
        </select>
        <select name="idEditorial" id="">
            <option>Seleccione una editorial</option>
            <option th:each="editorial : ${editoriales}" 
                    th:value="${editorial.id}" 
                    th:text="${editorial.nombre}"/>
        </select>
        <button type="submit">Guardar</button>
    </form>

    <div th:if="${error != null}">
        <h5>Error</h5>
        <p th:text="${error}"></p>
    </div>

    <div th:if="${exito != null}">
        <h5>Se guardo exitosamente</h5>
        <p th:text="${exito}"></p>
    </div>


</body>
</html>